.HeaderRoot {
    position: absolute;
    top: 0;
    background-color: var(--primary-color);
    width: 100%;
    height: var(--header-height);
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.Items {
    user-select: none;
    margin: 0 20px;
    width: 100%;
}

.LoginItems {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.headerLogoutButton {
    cursor: pointer;
}